@import "tailwindcss";

@theme {
  --color-bl-dark-purple: #0f0e23;
  --color-primary: #e19826;
  --color-grape: #6a0dad;
  --color-blue-violet: #7f3fbf;
  --color-purpureus: #8e44ad;
  --color-indigo-dye: #145374;
  --color-persian-green: rgb(44, 156, 145);
}

@font-face {
  font-family: 'Cal Sans';
  src: url('/assets/fonts/CalSans-Regular.ttf') format('truetype');
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
}