
h2 {
  font-size: 2rem;
}
h3 {
  font-family: 'Ubunto', Helvetica, sans-serif;
}

/* Barra Inclinada Lateral */
.title-underscore {
  position: relative;
}
.title-underscore::after {
  content: "";
  position: absolute;
  bottom: 6px;
  width: 2px;
  height: 1.2em;
  background-color: var(--color-persian);
  margin-left: 10px;
  transform: rotate(-20deg);
}

/* Fim da Barra */
h4 {
  /* font-family: 'Cal Sans'; */
  font-size: 1.6rem;
  margin-bottom: 20px;
}
h5 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2px;
}

